body{
    background-color:black;
    border-left:1px solid #475154;
    border-right:1px solid #475154;
    height:100vh;
}

.wd-left-padding{
    padding-left:16px;
}
.wd-input{
    border-radius: 50px;
    background-color:darkgray;
    width:50%;
    height:24px;
}


.wd-hyperlink{
    font-size:15px;
    padding: 16px;
    color:#6E767D;
    text-decoration: none;

}



.wd-hyperlink-highlight{
    font-size:15px;
    padding: 16px;
    color:#29A1F2;
    border-bottom: 3px solid #29A1F2;
    text-decoration: none;

}

.wd-grey-block{
    background-color:darkgray;
    height:6px;
    border:1px solid gray;
}

.wd-gear{
    float: right;
    padding-right:12px;
}

.wd-font-content{
    font-size:13px;
}

.wd-font-bold{
    font-weight: bold;
}
.wd-bg-color-mygray{
    color:#6E767D;
}

.wd-bg-color-grew{
    background-color:darkgray;
}
.wd-bg-color-black{
    background-color:black;
}

.wd-fg-color-white{
    color:white;
}
.wd-fg-color-gray{
    color:darkgray;
}

.wd-border-bot{
    border-bottom: 1px solid darkgray;
}

.wd-img-size{
    border-radius: 30px;
    width: 100px;
    height: 100px;
}

.wd-right-padding{
    padding-right:16px;
}
