.QWE {
    background-color: green;
    color: white;
}
#WRE {
    background-color: red;
    color: yellow;
}
#tyu {
    background-color: black;
    color: orange;
}

#qw{
    background-color: blue;
}
.we{
    background-color: yellow;
}